@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { box-sizing: border-box; font-family: 'Roboto', sans-serif; }
main { margin: 0 auto; padding: 40px 0px; background: rgb(122, 122, 122); }
h1 { margin: 0px; padding: 0px; font-size: 8vw; }
h2 { margin: 20px 0px; padding: 0px; font-size: 3vw; }
